@using StaffScheduling.Web.Models.InputModels.Vacation;
@model AddVacationOfEmployeeInputModel
@{
    string MinDate = @DateOnly.FromDateTime(DateTime.Now.AddDays(1)).ToString("yyyy-MM-dd");

    string MaxDate = @DateOnly.FromDateTime(DateTime.Now.AddMonths(6)).ToString("yyyy-MM-dd");
}


<form asp-controller="Vacation" asp-action="AddVacation" method="post">
    <input asp-for="CompanyId" type="hidden" readonly />
    <input asp-for="EmployeeId" type="hidden" readonly />

    <div class="row g-3 align-items-end">
        <div class="col-md-5">
            <label asp-for="StartDate" class="form-label">Start Date</label>
            <input asp-for="StartDate" type="date" value="@MinDate" min="@MinDate" max="@MaxDate" class="form-control" required />
        </div>

        <div class="col-md-5">
            <label asp-for="EndDate" class="form-label">End Date</label>
            <input asp-for="EndDate" type="date" value="@MinDate" min="@MinDate" max="@MaxDate" class="form-control" required />
        </div>

        <div class="col-md-2 d-grid">
            <button type="submit" class="btn btn-success w-auto">Add Vacation</button>
        </div>
    </div>
</form>