@using StaffScheduling.Common
@using StaffScheduling.Common.Enums
@using StaffScheduling.Web.Models.InputModels.EmployeeInfo;
@model ChangeRoleInputModel

<form asp-controller="Employee" asp-action="ChangeRole" method="post" class="d-flex align-items-center">
    <input asp-for="CompanyId" type="hidden" value="@Model.CompanyId" />
    <input asp-for="CurrentEmployeePermission" type="hidden" value="@Model.CurrentEmployeePermission" />
    <input asp-for="EmployeeId" type="hidden" value="@Model.EmployeeId" />
    <select asp-for="Role" class="form-select form-select-sm w-auto">
        <!-- Populate roles dynamically -->
        @foreach (var role in Helper.EnumArray<CustomRoles.EmployeeRole>())
        {
            //Skip roles which user has no permission to change employee to
            if (CustomRoles.GetManagableRoles(Model.CurrentEmployeePermission).Contains(role) == false)
            {
                continue;
            }

            if (role == Model.Role)
            {
                <option value="@(role)" selected>@role.ToString()</option>
            }
            else
            {
                <option value="@(role)">@role.ToString()</option>
            }
        }
    </select>
    <button type="submit" class="btn btn-primary btn-sm ms-2">Change Role</button>
</form>