@using StaffScheduling.Common
@using StaffScheduling.Common.Enums
@using StaffScheduling.Web.Models.ViewModels.EmployeeInfo
@using StaffScheduling.Web.Models.InputModels.EmployeeInfo;
@using StaffScheduling.Common.Enums.Filters;
@model ManageEmployeesInfoViewModel

@{
    ViewData["Title"] = $"Manage Employees";
}

<partial name="_ConfirmationModal">

<div class="container mt-4">
    <div class="row mb-3">
        <!-- Header Section -->
        <div class="col-md-8">
            <h1 class="h3">Manage Employees</h1>
        </div>
        <!-- Back to Company Button -->
        <div class="col-md-4 text-end">
            <div class="col-md-12 text-end">
                <a asp-controller="Manage" asp-action="Company" asp-route-id="@Model.CompanyId" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i> Back to Company
                </a>
            </div>
        </div>
    </div>

    @if(!String.IsNullOrEmpty(TempData["EmployeeError"] as string))
    {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["EmployeeError"]</p>
        </div>
    }

    <!-- Search Section -->
    <div class="row mb-4">
        <form method="get" asp-action="Employees" asp-route-id="@Model.CompanyId" class="input-group gap-2 flex-row"> @*scrollToTable is detected by javascript*@
            <!-- Hidden Input for scrollToTable -->
            <input type="hidden" name="scrollToTable" value="True" />

            <input type="text" asp-for="SearchQuery" class="form-control w-50" placeholder="Search employees" value="@Model.SearchQuery" />
            <select class="no-border-select w-auto" asp-for="SearchFilter">
            <!-- Populate filters dynamically -->
            @foreach (var filter in Helper.EnumArray<EmployeeSearchFilter>())
            {
                if (Model.SearchFilter.HasValue)
                {
                    if (filter == Model.SearchFilter.Value)
                    {
                            <option value="@(filter)" selected>Search By: @filter.ToString()</option>
                    }
                    else
                    {
                            <option value="@(filter)">Search By: @filter.ToString()</option>
                    }
                }
                else
                {
                        <option value="@(filter)">Search By: @filter.ToString()</option>
                }
            }
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Employee Adding Section -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <!-- Add Employee Manually -->
                <partial name="_EmployeeForms/_AddEmployeeManuallyForm" model="@new AddEmployeeInfoManuallyInputModel() { CompanyId = Model.CompanyId }" />

                <!-- OR -->
                <div class="col-md-1 d-flex justify-content-center">
                    <div style="height: 100%; padding-left: 10px; padding-right: 10px; padding-top:10px;">
                        <h3>OR</h3>
                    </div>
                </div>

                <!-- Upload Employees -->
                <div class="col-md-3">
                    <button type="submit" class="btn btn-outline-success w-100">Upload File With Employees</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Employee Table -->
    <div id="employeesTable" class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Department</th>
                            <th>Has Joined</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Employees.Any())
                        {
                            foreach (var employee in Model.Employees)
                            {
                                <tr>
                                    <td>
                                        @if (!String.IsNullOrEmpty(employee.Name))
                                        {
                                            @employee.Name
                                        }
                                        else
                                        {
                                            <i class="font-weight-light">Empty</i>
                                        }
                                    </td>
                                        <td id="employeeEmail-@employee.Id.ToString()">@employee.Email</td>
                                    <td>
                                            <partial name="_EmployeeForms/_ChangeRoleForm"
                                                 model="@new ChangeRoleInputModel() { CompanyId = Model.CompanyId, 
                                                                                      CurrentUserPermission = Model.CurrentUserPermission,
                                                                                      EmployeeId = employee.Id, 
                                                                                      Role = employee.Role}" />
                                    </td>
                                    <td>
                                        @if (Model.Departments.Any())
                                        {
                                                <partial name="_EmployeeForms/_ChangeDepartmentForm"
                                                         model="@new ChangeDepartmentInputModel() { CompanyId = Model.CompanyId,
                                                                                                    Departments = Model.Departments,
                                                                                                    EmployeeId = employee.Id,
                                                                                                    CurrentDepartmentName = employee.Department ?? String.Empty}" />
                                        }
                                        else
                                        {
                                            <i class="font-weight-light">No Departments Found</i>
                                        }
                                    </td>
                                    <td>
                                        @if (employee.HasJoined)
                                        {
                                            <span class="badge bg-success">Joined</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-warning">Pending</span>
                                        }
                                    </td>
                                    <td>
                                            <partial name="_EmployeeForms/_DeleteEmployeeForm" model="@new DeleteEmployeeInputModel() { CompanyId = Model.CompanyId, EmployeeId = employee.Id }" />
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">No employees found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        @if (Model.Employees.Any())
        {
            <!-- Bulk Actions Section -->
            <div class="card mb-4 mt-1 border-0">
                <div class="card-body">
                    <div class="d-flex">
                        <!-- Delete All -->
                        <partial name="_EmployeeForms/_DeleteAllEmployeesForm" model="@new DeleteAllEmployeesInputModel() { CompanyId = Model.CompanyId }" />
                    </div>
                </div>
            </div>
        }


    <!-- Pagination Section -->
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Manage" asp-action="Employees" 
                            asp-route-id="@Model.CompanyId" 
                            asp-route-searchQuery="@Model.SearchQuery" 
                            asp-route-searchFilter="@Model.SearchFilter.ToString()" 
                            asp-route-currentPage="@i">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/confirmation-modal.js"></script>
    <script src="~/js/manage-employees.js"></script>
        <script src="~/js/auto-sizing-select.js"></script>
}

