@using StaffScheduling.Common
@using StaffScheduling.Common.Enums
@using StaffScheduling.Web.Models.InputModels.EmployeeInfo;
@model ChangeDepartmentInputModel

<form asp-controller="Employee" asp-action="ChangeDepartment" method="post" class="d-flex align-items-center">
    <input asp-for="CompanyId" type="hidden" readonly/>
    <input asp-for="EmployeeId" type="hidden" readonly />
    <input asp-for="SearchQuery" type="hidden" readonly />
    <input asp-for="SearchFilter" type="hidden" readonly />
    <input asp-for="CurrentPage" type="hidden" readonly />

    <select asp-for="SelectedDepartmentId" class="form-select form-select-sm w-auto" onchange="this.form.submit()">
        @if (String.IsNullOrEmpty(Model.CurrentDepartmentName))
        {
            <option value="@Guid.Empty.ToString()" selected>None</option>
        }
        else
        {
            <option value="@Guid.Empty.ToString()">None</option>
        }

        <!-- Populate departments dynamically -->
        @foreach (var department in Model.Departments)
        {
            if (department.Name == Model.CurrentDepartmentName)
            {
                <option value="@department.Id" selected>@department.Name</option>
            }
            else
            {
                <option value="@department.Id">@department.Name</option>
            }
        }
    </select>
@*     <button type="submit" class="btn btn-primary btn-sm ms-2">Change</button> *@
</form>